.minha-navbar {
  background-image: url('../../assets/slayer-navbar.jpg'); /* nome simplificado */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.minha-navbar ul.nav-pills .nav-link {
  color: white;
}

.minha-navbar ul.nav-pills .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
